@using UnityWeb.Resources.User

@{
  ViewBag.Title = Remove.Title;
  Layout = "~/Views/Session/_Layout.cshtml";
}

<div class="col5 marginauto">
  <p>
    <label class="col2">@Inactive.Inavtive</label>
  </p>
  <p>
    <div class="clearfix"></div>
</div>

