@using UnityWeb.Models.GridRun
@using UnityWeb.Resources.GridRun
@model GridRunsDetailViewModel

@{
  ViewBag.Title = Index.Title;
  Layout = "~/Views/GridRun/_GridRunDetailsLayout.cshtml";
}

@section gridRunHeader
{
  <h3><a>@Index.Unapproved</a></h3>
}



