 <div class="header">
    Password Complexity Requirements
  </div>
  <div class="content">
      A valid password should contain the following:
      <ul>
          <li>At least one upper case letter.</li>
          <li>At least one lower case letter.</li>
          <li>At least one number or special character.</li>
          <li>Must have at least 8 Characters.</li>
      </ul>
  </div>