<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDocument" />
        <binding name="BasicHttpBinding_IFileService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocument"
          contract="ArchiveServiceReference.IDocument" name="BasicHttpBinding_IDocument" />
      <endpoint address="http://dev.nexdox.com/OnestepServices/Services/FileService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileService"
          contract="OneStepServiceReference.IFileService" name="BasicHttpBinding_IFileService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>