@model UnityWeb.Models.Search.SearchViewModel

<div id="dvaStatement" class="hidden">
  <div class="col3 floatleft marginright15">
      @Html.TextBoxFor(x => x.EmailAddress, new { @class = "filtertxt", @placeholder = "Email Address" })
    </div>
    <div class="col3 floatleft marginright12 noclear">
      @Html.TextBoxFor(x => x.FaxNumber, new { @class = "filtertxt", @placeholder = "Fax Number" })
    </div>
</div>
