@model UnityWeb.Models.NewsTicker.NewsTickerViewModel
<div class="col9 floatleft">
                <div class="error">
           @if(Model!=null)
               {
                          <div class='marquee'>@Model.News</div>
                }
           </div>
 </div>