@using UnityWeb.Resources.DocType
@model UnityWeb.Models.DocType.DocTypesViewModel

@{
  ViewBag.Title = Index.Title;
}

<section class="accordion" style="margin-top: 5px;">
  <section class="pane">
      @foreach (var viewModel in Model.DocTypes)
      {
          <table>
              <thead>
                  <tr>
                      @Html.Partial("_ShowSingleDocType", viewModel)
                  </tr>
              </thead>
          </table>
      }
  </section>
</section>