<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Unity" connectionString="Data Source=SRV-DG-WSQLUAT1.dstoutput.co.uk;Initial Catalog=Unity_Test;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="environment" value="UAT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <customErrors mode="On" xdt:Transform="Replace" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDocument" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" />
        <binding name="BasicHttpBinding_IFileService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://nt-arc1-dag.nd-rainham.com/Archive-WCF/services/Document.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocument" contract="ArchiveServiceReference.IDocument" name="BasicHttpBinding_IDocument" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
      <endpoint address="http://beta.nexdox.com/OnestepServices/Services/FileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileService" contract="OneStepServiceReference.IFileService" name="BasicHttpBinding_IFileService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
    </client>
  </system.serviceModel>
</configuration>